<script defer data-domain="kkoyung.dev" src="https://plausible.kkoyung.dev/js/script.js"></script>

<style>
  :root {
    --width: 720px;
    --font-main: Verdana, sans-serif;
    --font-secondary: Verdana, sans-serif;
    --font-scale: 1em;
      /* Catppuccin Latte flavor */
    --background-color: #eff1f5; /* Base */
    --heading-color: #4c4f69; /* Text */
    --text-color: #5c5f77; /* Subtext1 */
    --link-color: #1e66f5; /* Blue */
    --visited-color: #8839ef; /* Mauve */
    --blockquote-color: #6c6f85; /* Subtext0 */
  }

  @media (prefers-color-scheme: dark) {
    :root {
      /* Catppuccin Macchiato flavor */
      --background-color: #24273a; /* Base */
      --heading-color: #cad3f5; /* Text */
      --text-color: #b8c0e0; /* Subtext1 */
      --link-color: #8aadf4 /* Blue */;
      --visited-color: #c6a0f6 /* Mauve */;
      --blockquote-color: #a5adcb; /* Subtext0 */
    }
  }
</style>
